#header-nav {
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
    border-bottom: thin solid;

    #logo {
        // font-family: fairwater-sans, sans-serif;
        // font-weight: 400;
        // font-style: normal;

        cursor: pointer;
        &:hover {
            opacity: 0.6;
            transition: var(--hoverTransition);
        }
    }

    #login {
    }
}
